* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  font-family: "Lato, sans-serif";
  margin-bottom: 20px;
}

table {
  font-family: "Slabo 27px, serif";
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 10px;
  text-align: left;
}
table th {
  background-color: #333;
  color: white;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

p {
  font-family: "Lato, sans-serif";
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.formulario form .row .col-6 label {
  font-family: "Slabo 27px, serif";
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #2c2a2a;
  font-family: "Slabo 27px, serif";
  font-size: 16px;
  color: #333;
}
.formulario form .row .col-6 input[type=text],
.formulario form .row .col-6 input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}
.formulario form .row label[for=mensaje] textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  resize: vertical;
}
.formulario form .btn-custom {
  font-family: "Slabo 27px, serif";
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(236, 12, 46, 0.64);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Slabo 27px, serif";
  background-color: rgba(236, 12, 46, 0.64);
  border: 2px solid rgba(236, 12, 46, 0.39);
}
.formulario form .btn-custom:hover {
  background-color: #420413;
}

@media (max-width: 767px) {
  .formulario {
    padding: 15px;
  }
}
fieldset input[type=text],
fieldset input[type=number],
fieldset input[type=date],
fieldset input[type=time],
fieldset textarea {
  font-family: "Slabo 27px, serif";
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  color: #333;
}
fieldset .btn-custom {
  font-family: "Slabo 27px, serif";
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(236, 12, 46, 0.64);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Slabo 27px, serif";
  background-color: rgba(236, 12, 46, 0.64);
  border: 2px solid rgba(236, 12, 46, 0.39);
}
fieldset .btn-custom:hover {
  background-color: #420413;
}

.testimonial-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.testimonial-form label,
.testimonial-form textarea,
.testimonial-form input[type=text] {
  margin-bottom: 10px;
  color: #333;
}

.testimonial-form input:focus,
.testimonial-form textarea:focus {
  border: 2px solid rgba(145, 22, 22, 0.39);
  outline: none;
}

form .btn-custom {
  font-family: "Slabo 27px, serif";
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(236, 12, 46, 0.64);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Slabo 27px, serif";
  background-color: rgba(236, 12, 46, 0.64);
  border: 2px solid rgba(236, 12, 46, 0.39);
}
form .btn-custom:hover {
  background-color: #420413;
}

header {
  font-family: "Slabo 27px, serif";
  background-color: rgba(0, 0, 0, 0.89);
  color: rgba(43, 41, 41, 0.171);
  padding: 20px 0;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header nav div a {
  font-size: 28px;
  font-weight: 300;
  color: #8b0000;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}
header .titulo-bodega {
  font-size: 24px;
  font-weight: bold;
  color: #ec0c2e;
  text-decoration: none;
  transition: color 3s;
}
header .titulo-bodega:hover {
  color: #420413;
}

nav {
  background-color: rgb(192, 192, 192);
  padding: 10px 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: rgba(56, 54, 54, 0.034);
  font-weight: bold;
}

body {
  font-family: "PT Sans, sans-serif";
  background: #f7eadc;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: none;
  overflow-x: hidden;
}
@media screen and (max-width: 1024px) {
  body body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  body body {
    font-size: 12px;
  }
}

main {
  font-family: "PT Sans, sans-serif";
  margin-top: 100px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
main h1,
main h2 {
  font-family: "PT Sans, sans-serif";
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonio {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.testimonio p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}
.testimonio .autor {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}

.testimonios h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

@media (min-width: 992px) {
  .img-desktop-large {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
h2 {
  font-family: "PT Sans, sans-serif";
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

p {
  font-family: "Lato, sans-serif";
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .img-desktop-large {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
aside .embed-responsive-16by9 iframe {
  max-width: 100%;
}
@media (min-width: 992px) {
  aside .embed-responsive-16by9 iframe {
    width: 100%;
    height: 400px;
  }
}

aside {
  font-family: "Lato, sans-serif";
}
aside .testimonial-section {
  background-color: #f9f9f9;
  padding: 30px;
  text-align: center;
}
aside aside img {
  width: 100%;
  max-height: 300px;
}
@media (min-width: 992px) {
  aside aside img {
    max-height: none;
  }
}

footer {
  font-family: "PT Sans, sans-serif";
  background-color: #333;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
footer .footer-logo img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}
footer .footer-social img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
footer .footer-bottom {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}
footer .footer-content {
  display: flex;
  align-items: center;
}
footer .footer-social {
  text-align: center;
  padding: 20px 0;
}
footer .footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-social a {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.2s;
}
footer .footer-social a:hover {
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .footer-info {
    font-size: 14px;
  }
}
.cart {
  position: relative;
  margin-right: 20px;
}
.cart a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}
.cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
}

/*# sourceMappingURL=style.css.map */
