* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header {
  font-family: "Slabo 27px", serif;
  background-color: rgba(0, 0, 0, 0.89);
  color: rgba(43, 41, 41, 0.171);
  padding: 20px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .titulo-bodega {
  font-size: 24px;
  font-weight: bold;
  color: #ec0c2e;
  text-decoration: none;
  transition: color 0.3s;
}
header .titulo-bodega:hover {
  color: #420413;
}

nav {
  background-color: rgb(192, 192, 192);
  padding: 10px 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: rgba(56, 54, 54, 0.034);
  font-weight: bold;
}

body {
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/vino.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: none;
}

main {
  font-family: "PT Sans", sans-serif;
  margin-top: 100px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}
main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
main .testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .testimonio {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
main .testimonio p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}
main .testimonios h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
main .testimonio .autor {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}
main .autor {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

aside {
  font-family: "Lato", sans-serif;
}

footer {
  font-family: "PT Sans", sans-serif;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
footer .footer-logo img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}
footer .footer-social img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
footer .footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
footer .footer-content {
  display: flex;
  align-items: center;
}
footer .footer-social {
  text-align: center;
  padding: 20px 0;
}
footer .footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-social a {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.2s;
}
footer .footer-social a:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
