$font-lato: "Lato", sans-serif;
$font-pt-sans: "PT Sans", sans-serif;
$font-slabo-27: "Slabo 27px", serif;
$background-color-header: rgba(0, 0, 0, 0.89);
$text-color-header: rgba(43, 41, 41, 0.171);
$background-image-body: url("../images/vino.webp");
$background-color-main: white;
$background-color-footer: #333;
$text-color-footer: white;
