$font-lato: "Lato", sans-serif;
$font-pt-sans: "PT Sans", sans-serif;
$font-slabo-27: "Slabo 27px", serif;
$primary-color: #333;
$border-color: #ccc;
$form-font-size: 16px;
$background-color-header: rgba(0, 0, 0, 0.89);
$text-color-header: rgba(43, 41, 41, 0.171);
$color-destacado-header: #ec0c2e;
$color-hover-header: #420413;
$nav-background-color: rgb(192, 192, 192);
$nav-link-color: rgba(56, 54, 54, 0.034);
$nav-header-font-weight: bold;
$background-color-body: #f7eadc;
$background-color-main: rgb(255, 255, 255);
$background-color-footer: #333;
$text-color-footer: rgb(255, 255, 255);
$footer-bottom-background-color: rgb(0, 0, 0);
$footer-bottom-text-color: rgb(255, 255, 255);
