fieldset {
  @extend %fieldset-styles;

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  textarea {
    font-family: map-get($font-families, "Slabo 27px");
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    color: #333;
  }

  .btn-custom {
    @include button-styles;
    font-family: map-get($font-families, "Slabo 27px");
    background-color: rgba($color-destacado-header, 0.64);
    border: 2px solid rgba($color-destacado-header, 0.39);
  }
}
