body {
  font-family: $font-pt-sans;
  background-image: $background-image-body;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: none;
}
